[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FMC"]
	path = FMC
	url = https://github.com/cran/FMC
[submodule "minimalRSD"]
	path = minimalRSD
	url = https://github.com/cran/minimalRSD
